{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- cart style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">

<div class="row">
    <div class="col-lg-12">

        <div class="box-element cart-header col-lg-10 mx-auto">

            <div class="cart-top">
                <a class="btn btn-success" href="{% url 'checkout' %}">إتمام عملية الشراء</a>
            </div>

            <div class="cart-bottom">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">متابعة الشراء &rarr;</a>
            </div>

            <div class="cart-summary">
                <h5>العناصر: <strong>{{order.get_cart_items}}</strong></h5>
                <h5>المجموع: <strong>{{order.get_cart_total}}<small> جنيه</small></strong></h5>
            </div>
            
        </div>

        <br>
        <div class="box-element" dir="rtl">
            <div class="cart-row header">

                <div class="flex:1"></div>
                <div class="flex:2">العنصر</div>
                <div class="flex:1">السعر</div>
                <div class="flex:1">الكمية</div>
                <div class="flex:1">المجموع</div>
                <div class="flex:1">حذف</div>

            </div>

            {% for item in items %}

            <div class="cart-row">

                <div class="flex-1"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div class="flex-2">{{item.product.name}}</div>
                <div class="flex-1">{{item.product.price}}</div>
                <div class="flex-1"><p class="quantity">{{item.quantity}}</p></div>
                <div class="flex-1">{{item.get_total}}<small> جنيه</small></div>

                <!-- Delete Item From Cart -->
                <div class="flex-1">
                    <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">حذف</button>
                    </form>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}