{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- sub-styles -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sub-styles.css' %}">

<div class="row">
    <div class="col-lg-6 mx-auto" dir="rtl">
        <div class="box-element" id="form-wrapper">
            <form method="POST" id="form" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div id="shipping-info">
                    <hr>
                    <h5>معلومات التوصيل</h5>
                    <hr>
                    <div class="form-field checkout-form-field">
                        <input required class="form-control"
                        type="text" name="phone_number" placeholder="رقم الهاتف..">
                    </div>
                    <div class="form-field checkout-form-field">
                        <input required class="form-control"
                        type="text" name="state" placeholder="الولاية">
                    </div> 
                    <div class="form-field checkout-form-field">
                        <input required class="form-control"
                        type="text" name="city" placeholder="المدينة">
                    </div>
                    <div class="form-field checkout-form-field">
                        <input required class="form-control"
                        type="text" name="street" placeholder="اسم شارع المنزل">
                    </div>
                    <div class="form-field checkout-form-field">
                        <input required class="form-control"
                        type="text" name="address" placeholder="العنوان">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success
                btn-block" type="submit" value="متابعة عملية الشراء">
            </form>
        </div>
    </div>
</div>

{% endblock content %}