{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- sub-styles -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sub-styles.css' %}">

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST" action="{% url 'payment' %}">
                {% csrf_token %}

                    <!-- Bankak Header -->
                    <div class="payment-title text-centermy-4
                    d-flex align-items-center justify-content-center gap-23">
                        <hr>
                        <img style="max-width: 25px; max-height: 25px;"
                        src="{% static 'images/bankak-logo.png' %}" alt="بنكك">
                        <h5 style="padding-left:10px;"
                        class="mb-0">الدفع عن طريق بنكك</h5>
                        <hr>
                    </div>
                    
                    <!-- Bankak Account Details -->
                    <div class="mb-4 text-center">
                        <p><strong>رقم الحساب:</strong> 3317329</p>
                        <p><strong>اسم الحساب:</strong>إبراهيم أمجد الجزولي</p>
                    </div>

                    <hr>

                    <!-- Enter Payment Details -->
                     <div id="payment-confirm" class="mb-3">
                        <div dir="rtl" class="form-field mb-3">
                            <input class="form-control" type="number"
                            name="transaction_id" placeholder="رقم العملية" required>
                        </div>
                        <div dir="rtl" class="form-field mb-3">
                            <input class="form-control" type="number"
                            name="amount" placeholder="المبلغ المُحوَّل" required>
                        </div>

                        <hr>

                        <!-- Send Button -->
                         <input id="form-button" class="btn btn-success
                         btn-block w-100" type="submit" value="تأكيد التحويل">

                     </div>

            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <img src="{% static 'images/payment.jpg' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}