{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row text-right">
    <div class="col-lg-12">
        <div class="box-element col-lg-10 mx-auto" dir="rtl">
            <h3 class="mb-4">سجل الشراء</h3>

            <div class="mb-3 p-3 border rounded bg-light">
                <p><strong>اسم المستخدم:</strong> {{customer.name}}</p>
                <p><strong>البريد الإلكتروني:</strong> {{customer.user.email}}</p>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
