{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- sub-styles -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sub-styles.css' %}">

<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/carousel-01.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel-02.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel-03.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Products Filter -->
<form method="get" 
      class="mb-8 category-form text-center" 
      style="max-width: 1200px; margin: auto;">
  <div class="row justify-content-center">
    <div class="col-md-2 mb-4">
      <select name="category" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
        <option value="">كل الأقسام</option>
        <option value="men">رجالي</option>
        <option value="women">نسائي</option>
        <option value="kids">أطفالي</option>
      </select>
    </div>
    <div class="col-md-2 mb-4">
      <select name="price" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
        <option value="">كل الأسعار</option>
        <option value="low">أقل من 10 ألف</option>
        <option value="mid">10 - 25 ألف</option>
        <option value="high">أكثر من 25 ألف</option>
      </select>
    </div>
    <div class="col-md-2 mb-4">
      <button type="submit" class="btn btn-warning w-100" style="font-weight: 700;">بحث</button>
    </div>
  </div>
</form>


<!-- Men Category -->
{% if men_products %}
  <div class="men-header">
    <h3>القسم الرجالي</h3>
  </div>
  <div class="row men-products-row">
      {% for product in men_products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6 class="product-name text-right"><strong>{{product.name}}</strong></h6>
                <div>
                  <p class="product-description">{{product.description}}</p>
                </div>
                <hr>
                <div class="product-footer">
                  <h4 class="price-text">{{product.price}}<small> جنيه</small></h4>
                  <div class="product-buttons">
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                      {% csrf_token %}
                      <button class="btn btn-success w-100">أضف للسلة</button>
                    </form>
                    <a data-fancybox="gallery" href="{{product.imageURL}}" class="btn btn-outline-dark add-btn w-100">عرض</a>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
{% endif %}
<hr>



<!-- Women Category -->
{% if women_products %}
 <div class="women-header text-right">
      <h3>القسم النسائي</h3>
  </div>
  <div class="row women-products-row">
      {% for product in women_products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6 class="product-name text-right"><strong>{{product.name}}</strong></h6>
                <div>
                  <p class="product-description">{{product.description}}</p>
                </div>
                <hr>
                <div class="product-footer">
                  <h4 class="price-text">{{product.price}}<small> جنيه</small></h4>
                  <div class="product-buttons">
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                      {% csrf_token %}
                      <button class="btn btn-success w-100">أضف للسلة</button>
                    </form>
                    <a data-fancybox="gallery" href="{{product.imageURL}}" class="btn btn-outline-dark add-btn w-100">عرض</a>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
{% endif %}
<hr>

<!-- Kids Category -->

{% if kids_products %}
 <div class="kids-header">
      <h3>قسم الأطفال</h3>
  </div>
  <div class="row kids-products-row">
      {% for product in kids_products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6 class="product-name text-right"><strong>{{product.name}}</strong></h6>
                <div>
                  <p class="product-description">{{product.description}}</p>
                </div>
                <hr>
                <div class="product-footer">
                  <h4 class="price-text">{{product.price}}<small> جنيه</small></h4>
                  <div class="product-buttons">
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                      {% csrf_token %}
                      <button class="btn btn-success w-100">أضف للسلة</button>
                    </form>
                    <a data-fancybox="gallery" href="{{product.imageURL}}" class="btn btn-outline-dark add-btn w-100">عرض</a>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
{% endif %}


{% endblock content %}