{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- store style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">

<!-- hero section -->
<div class="hero-section">
  <img src="{% static 'images/hero-section.png' %}" alt="">
</div>

<!-- Products Filter -->
<form method="get" class="mb-8 category-form text-center" style="max-width: 1200px; margin: auto;">
  <div class="row justify-content-center">
    <div class="col-md-2 mb-4">
      <select name="category" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
        <option value="">كل الأقسام</option>
        <option value="men">رجالي</option>
        <option value="women">نسائي</option>
        <option value="kids">أطفالي</option>
      </select>
    </div>
    <div class="col-md-2 mb-4">
      <select name="type_of_clothe" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
        <option value="">كل المنتجات</option>
        <option value="t-shirt">تي شيرتات</option>
        <option value="shirts">قمصان</option>
        <option value="pants">بناطلين</option>
        <option value="jackets">جاكيتات</option>
        <option value="suits">بدلات</option>
        <option value="sportswear">ملابس رياضية</option>
        <option value="dresses">فساتين</option>
        <option value="blouses">بلوزات</option>
        <option value="jeans">جينز</option>
        <option value="hoodies">هوديز</option>
        <option value="abayas">عبايات</option>
        <option value="pajamas">بيجامات</option>
        <option value="bags">حقائب</option>
        <option value="sneakers">أحذية رياضية</option>
        <option value="formal-shoes">أحذية رسمية</option>
        <option value="boots">بوتات</option>
        <option value="slippers">شباشب</option>
        <option value="caps">كابات</option>
        <option value="hats">قبعات</option>
        <option value="sunglasses">نظارات شمسية</option>
        <option value="watches">ساعات</option>
      </select>
    </div>
    <div class="col-md-2 mb-4">
      <select name="price" class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
        <option value="">كل الأسعار</option>
        <option value="low">أقل من 10 ألف</option>
        <option value="mid">10 - 25 ألف</option>
        <option value="high">أكثر من 25 ألف</option>
      </select>
    </div>
    <div class="col-md-2 mb-4">
      <button type="submit" class="btn btn-warning w-100" style="font-weight: 700;">بحث</button>
    </div>
  </div>
</form>


<!-- Products -->
  <div class="row products-row">
      {% for product in products %}
        <div class="product-card col-lg-4">
            <div class="thumbnail">
              <img src="{{product.imageURL}}" alt="Product">
            </div>
            <div class="box-element product">
                <h6 class="product-name text-center"><strong>{{product.name}}</strong></h6>
                <div>
                  <p class="product-description">{{product.description}}</p>
                </div>
                <hr>
                <div class="product-footer">
                  <h4 class="price-text">{{product.price}}<small> جنيه</small></h4>
                  <div class="product-buttons">
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                      {% csrf_token %}
                      <button class="btn btn-success w-100">أضف للسلة</button>
                    </form>
                    <a data-fancybox="gallery" href="{{product.imageURL}}" class="btn btn-outline-dark  add-btn w-100">عرض</a>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>

{% endblock content %}