{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="box-element text-center mt-5">
    {% if payment %}
        <h2>تم استلام الدفع بنجاح</h2>
        <p>رقم العملية: <strong>{{ payment.transaction_id }}</strong></p>
        <p>المبلغ: <strong>{{ payment.amount }}</strong> جنيه</p>
        <p>تاريخ الدفع: <strong>{{ payment.date_paid|date:"Y-m-d H:i:s" }}</strong></p>
        {% if payment.is_confirmed %}
            <p class="text-success">تم تأكيد الدقع, في انتظار عملية الشحن</p>
        {% else %}
            <p class="text-warning">في انتظار تأكيد عملية الدفع من الإدارة</p>
        {% endif %}
    {% else %}
        <h2>لا توجد معلومات دفع متاحة</h2>
    {% endif %}
</div>
{% endblock %}
