.btn-success {
    background: #891652;
    border: 0;
}

.btn-success:hover {
    background: #240a34;
}

.btn-outline-dark:hover {
    background-color: #240a34;
    color: #fff;
}

.box-element {
    background: #fff;
    padding: 20px;
    text-align: right;
}


.col-lg-6 .payment-title {
    display: flex;
    padding-bottom: 20px;
}

.checkout-form-field {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

#shipping-info {
    text-align: right;
}