{% extends 'store/main.html' %}
{% load static %}
{% block content %}

  <!-- reset password style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">
  <div class="reset-password-header">
      <h2>تم إرسال تعليمات إعادة تعيين كلمة المرور</h2>
      <p>
        لقد أرسلنا لك رسالة على بريدك الإلكتروني تحتوي على تعليمات لتعيين كلمة مرور جديدة، إذا كان هناك حساب مرتبط بالبريد الذي أدخلته.  
        من المفترض أن تصلك الرسالة خلال وقت قصير
      </p>
      <p>
      (Spam) إذا لم تستلم الرسالة، تأكد من كتابة البريد الإلكتروني الصحيح الذي سجلت به، ولا تنسى التحقق من مجلد الرسائل غير المرغوب فيها 
      </p>
  </div>
{% endblock %}