{% extends 'store/main.html' %}
{% load static %}
{% block content %}

  <!-- reset password style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">
  <div class="reset-password-header">
    <h2>إعادة تعيين كلمة المرور</h2>
      <p>أدخل بريدك الإلكتروني وسنرسل لك رابط إعادة التعيين</p>

      <form class="reset-password-form" method="post">
        {% csrf_token %}
        <div class="password"><h5>الإيميل</h5>{{ form.email }}</div>
        <button class="btn btn-success" type="submit">إرسال</button>
      </form>
      </div>
{% endblock %}
